@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.wrapper {

}

.toggle_block {
  display: flex;
  align-items: center;
}

.menu {
  ul {
    padding-top: 0;
    width: 300px !important;

    li {
      padding: 10px;
    }
  }
}


.menu_item {
  &__link {
    color: inherit;
    text-decoration: none;
    display: flex !important;
  }

  &__text {
    @include font($font-l);
    color: var(--primary-color);
    margin-left: 15px;
  }
}

.menu_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px 20px;
  border-bottom: var(--border);

  &_left {
    display: flex;
    align-items: center;

    &_avatar {
      width: 32px;
      height: 32px;
    }

    &_info {
      margin-left: 10px;

      &_name {
        @include font($font-l);
        color: var(--primary-color);
      }

      &_email {
        @include font($font-s);
        color: var(--secondary-color);
      }
    }
  }
}

.icon_button {
  margin-right: 10px !important;

  &_logout {
    height: 40px !important;
    width: 40px !important;
    border-radius: 0 !important;
  }

  &_text {
    @include font($font-l-bold);
    color: var(--primary-color);
  }
}
