:root {
  --font-family-main: "Public Sans", sans-serif;
  --border: 1px solid #f0f0f0;

  // colors
  --primary-color: rgb(38 38 38);
  --secondary-color: rgb(140 140 140);
  --active-color: #1976d2;
  --red-light: #d32f2f;
  --red-dark: rgb(133 9 9);
}
