.wrapper {

}

.toggle_block {
  display: flex;
  align-items: center;
}

.menu {
  ul {
    padding-top: 0;
    width: 300px !important;

    li {
      padding: 15px;
    }
  }
}


.menu_item {
  &__link {
    color: inherit;
    text-decoration: none;
    display: flex !important;
  }

  &__text {
    font: var(--font-m);
    margin-left: 15px;
  }
}

.menu_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px 20px;
  border-bottom: var(--border);

  &_left {
    display: flex;
    align-items: center;

    &_avatar {
      width: 32px;
      height: 32px;
    }

    &_info {
      margin-left: 10px;

      &_name {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.57;
      }

      &_email {
        font-size: 0.83rem;
        line-height: 1.66;
        font-weight: 400;
        color: rgb(140, 140, 140);
      }
    }
  }
}

.icon_button {
  margin-right: 10px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 0 !important;

  &_text {
    color: #262626;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.57;
  }
}