@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.ErrorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.21;
  text-align: center;
}

.text {
  @include font($font-l);

  color: var(--secondary-color);
  margin-bottom: 25px;
}
