.footer {
  padding: 15px 30px;
  background: #FAFAFB;
}

.top__container {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;

  &_links {
    &_item {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.66;
      text-decoration: none;
      color: rgb(38, 38, 38);
      margin-left: 45px;

      &:hover {
        text-decoration: underline;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.bottom__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 12px;

  &_text {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
  }

  &_links {
    display: flex;
    &_item {
      text-decoration: none;
      color: #9E9E9E;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
