@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.footer {
  padding: 15px 30px;
  background: #FAFAFB;
}

.top__container {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;


  &_text {
    @include font($font-s);
    color: var(--primary-color);
  }

  &_links {
    &_item {
      @include font($font-s);
      color: var(--primary-color);
      text-decoration: none;
      margin-left: 45px;

      &:hover {
        text-decoration: underline;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.bottom__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 12px;

  &_links {
    display: flex;

    &_item {
      text-decoration: none;
      color: #9E9E9E;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
