.footer {
  padding: 15px 30px;
  border-top: var(--border)
}

.top__container {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(24, 118, 210, 0.14);
  align-items: center;

  &_links {
    &_item {
      font-size: 12px;
      text-decoration: none;
      color: #1876D2;
      margin-left: 45px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;

  &_text {
    color: #9E9E9E;
    font-size: 12px;
  }

  &_links {
    display: flex;
    &_item {
      text-decoration: none;
      color: #9E9E9E;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
