@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.NotFoundPage {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 30px;
}

.title {
  color: var(--primary-color);
  margin-bottom: 15px;
}

.text {
  @include font($font-l);

  color: var(--secondary-color);
  margin-bottom: 25px;
}

.link {
  text-decoration: none;
  color: inherit;
}
