@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.container {
  width: 100%;
  height: 100vh;
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 60px;
  width: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;

  &_icon {
    width: 60px;
    height: 60px;
  }
}

.navbar {
  margin-top: 62px;
  overflow-y: auto;
  position: fixed;
  max-height: 100vh;
  padding: 0 !important;
  background-color: white;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list_title {
  @include font($font-m);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--secondary-color);
}

.list_button {
  span {
    @include font($font-l);
  }
}


.icon {
  min-width: 37px !important;
}

.new_label {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: unset;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid;
  color: var(--active-color);
  background-color: rgb(230, 244, 255);
  border-color: rgb(105, 177, 255);

  &_text {
    @include font($font-l);
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
  }
}