.language_menu {
  margin-right: 25px;

  &_item {
    display: flex;
    align-items: center;

    &_text {
      font-size: 0.875rem;
      line-height: 1.57;
      font-weight: 400;
      color: rgb(38, 38, 38);
    }

    &_subtext {
      margin-left: 8px;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.66;
      color: rgb(140, 140, 140);
    }
  }
}

.icon_button {
  height:40px !important;
  width:40px !important;
  border-radius: 0 !important;
}