@import "app/styles/variables/mixins";
@import "app/styles/variables/fonts";

.language_menu {
  margin-right: 25px;

  &_item {
    display: flex;
    align-items: center;

    &_text {
      @include font($font-l);
      color: var(--primary-color);
    }

    &_subtext {
      margin-left: 8px;
      @include font($font-s);
      color: var(--secondary-color);
    }
  }
}

.icon_button {
  svg {
    fill: var(--primary-color);
  }

  height:40px !important;
  width:40px !important;
  border-radius: 0 !important;
}