.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  border-left: var(--border);
  flex: 1 1 auto;
}

.main {
  padding: 15px;
  flex: 1 1 auto;
  background: #fafafb;
}
